<h2>nuestra historia</h2>
<p>En Guatemala el 59.3% de nuestra población vive en pobreza (World Bank, 2016).Nuestra meta, es eliminarla.Somos un emprendimiento social que honra a nuestros productores y creando conversaciones de cómo re-conectar el área urbana y comunidades rurales.Solo tenemos una Guatemala y cuando trabajamos unidos, podemos hacer un impacto imaginable!</p>

<h2>nuestra idea</h2>
<p>Guatemala es un país agrícola, por ello nuestro enfoque es maximizar nuestros recursos naturales para empoderar a nuestros productores y ayudar a su familia.</p>

<!-- <h2>nuestros valores</h2>
<ul>
  <li>Nuestro planeta y nuestra gente no deberían de ser explotadas por las cosas que compramos.</li>
  <li>Nuestras compra pueden tener un impacto positivo en el mundo</li>
  <li>Compra directa</li>
  <li>Cada producto tiene su historia</li>
  <li>Each product has a story</li>
</ul> -->
