<!-- <div class="page-wrap">
    <main role="main" class="farmers-main">
      <div class="flex-grid">
        {% for post in site.posts %}
        <article class="main-articles">
           {% if post.img %}
              <a href="{{post.url | prepend: site.baseurl}}"><img class="post-image" src={{ "/assets/images/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}"></a>
           {% endif %}
            <div class="post-content">
              <div class="wrap-content">
                <div class="header-article">
                  <h2><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
                </div>
                <p>{{post.description}}</p>
              </div>
            </div>
        </article>
        {% endfor %}
      </div>
    </main>
  </div> -->

<div class="wrap">
  <div class="box box5">
    <div class="boxInner">
      <img src="http://www.dwuser.com/education/content/creating-responsive-tiled-layout-with-pure-css/images/demo/7.jpg" />
      <div class="titleBox">Butterfly</div>
    </div>
  </div>
  <div class="box box5">
    <div class="boxInner">
      <img src="http://www.dwuser.com/education/content/creating-responsive-tiled-layout-with-pure-css/images/demo/7.jpg" />
      <div class="titleBox">Butterfly</div>
    </div>
  </div>
  <div class="box box5">
    <div class="boxInner">
      <img src="http://www.dwuser.com/education/content/creating-responsive-tiled-layout-with-pure-css/images/demo/7.jpg" />
      <div class="titleBox">Butterfly</div>
    </div>
  </div>
  <div class="box box5">
    <div class="boxInner">
      <img src="http://www.dwuser.com/education/content/creating-responsive-tiled-layout-with-pure-css/images/demo/7.jpg" />
      <div class="titleBox">Butterfly</div>
    </div>
  </div>
  <div class="box box5">
    <div class="boxInner">
      <img src="http://www.dwuser.com/education/content/creating-responsive-tiled-layout-with-pure-css/images/demo/7.jpg" />
      <div class="titleBox">Butterfly</div>
    </div>
  </div>
</div>